# Tailscale auth key: https://login.tailscale.com/admin/settings/keys
TS_AUTHKEY=tskey-auth-xxxxxxxxxxxx

# Your iOS device's Tailscale IP + 1.
# e.g. if your iPhone is 100.101.102.103, set 100.101.102.104
# You must ALSO set this node's IPv4 to the same value in the admin console.
NODE_ADDR=100.x.y.z
